{% autoescape off %}
Usuário: {{ user.get_username }}

Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Quidem quibusdam, in nam velit asperiores expedita quae harum nesciunt 
voluptatum qui pariatur deleniti? Aperiam maiores, itaque doloremque quam maxime inventore deserunt.

Clique no link:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Impedit odio reiciendis debitis sunt, quibusdam aperiam distinctio, 
iure error voluptas explicabo ratione molestiae corrupti facilis nemo alias 
quos aliquam est voluptate.
{% endautoescape %}