backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
bleach==2.0.0
certifi==2017.7.27.1
dj-database-url==0.4.2
Django==1.10
django-chatrooms==1.2a0.dev0
django-constance==1.2
django-crispy-forms==1.6.1
django-debug-toolbar==1.8
django-el-pagination==3.0.1
django-endless-pagination-vue==1.3
django-hitcount==1.2.2
django-htmlmin==0.10.0
django-lbattachment==1.0.2
django-lbutils==1.0.1
django-load==1.0.0
django-mptt==0.8.7
django-musette==0.3.1
django-password-reset==0.9
django-picklefield==0.3.2
django-polymorphic==1.2
django-redis-cache==1.6.5
django-taggit==0.22.1
djangorestframework==3.4.6
easy-thumbnails==2.3
fake-factory==9999.9.9
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.0
html5lib==0.999999999
LBForum==2.0.1
markdown==2.6.9
misago==0.10.0
olefile==0.44
path.py==10.3.1
Pillow==4.2.1
psycopg2==2.7.1
python-dateutil==2.5.3
python-decouple==3.0
pytz==2017.2
redis==2.10.6
requests==2.13.0
six==1.10.0
tornado==4.2
unidecode==0.4.21
Unipath==1.1
virtualenv==15.1.0
whitenoise==3.3.0
