<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load staticfiles %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="{%  static 'schoolnow/images/favicon.ico' %}"/>


    
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'schoolnow/marketing.css' %}">

             <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  


</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{% url 'schoolnow:index' %}"><b>SCHOOLNOW</b></a>


        <ul class="pure-menu-list">
   

            <li class="pure-menu-item"><a href="{% url 'schoolnow:memorias' %}" class="pure-menu-link">Memórias</a></li>
            <li class="pure-menu-item"><a href="{% url 'schoolnow:logout_user' %}" class="pure-menu-link"><b>Sair</b></a></li>

            
        </ul>
    </div>
</div>





{% block body %}
{% endblock %}
</body>
</html>
